body {
  background: #ffa952;
}

.inner-body{
  margin: 10% 10%;
  background-color: #feffdf;
  border-radius: 10%;
  padding-bottom: 10%;
}


.outterContainer{
  margin-bottom: 10%;
}


.headtxt{
  text-align: center;
  color: #ef5a5a;
}


.header-content {
  text-align: center;
}

.head-btn{
  padding: 0%;
}


.btn {
  background: transparent;
  border: none;
  background-color: #ffe79a;
  color: #ef5a5a;
  padding: 10px 20px;
  cursor: pointer;
}

/* JavaScript */
.cats {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.random_cats {
  width: 40%;
}

img {
  max-width: 700px;
  height: 30rem;
}
